/* sleekfoxcss by kreetzelpretzel */
/* thanks:
/* AmirhBeigi/zen-floating-statusbar
/* RobotoSkunk/zen-better-findbar
/* akkva/gwfox */

/* about:config */
/* set these vars accordingly */
/* toolkit.legacyUserProfileCustomizations.stylesheets true
/* sidebar.revamp true
/* sidebar.verticalTabs true
/* widget.gtk.rounded-bottom-corners.enabled true */

/* splitter fixes */
#sidebar-tools-and-extensions-splitter {
  background-color: var(--sidebar-border-color) !important;
  border: none !important;
}

#sidebar-splitter {
  width: 6px !important;
}

/* round border */
#tabbrowser-tabbox {
box-shadow: none !important;
outline: none !important;
overflow: unset !important;
}

:root:not([sizemode="fullscreen"]) {
  #tabbrowser-tabbox browser:not(.devtools-toolbox-bottom-iframe, .devtools-toolbox-side-iframe) {
  border-radius: 8px;
  }

  .browserStack {
    border-radius: 8px;
    margin: 0 6px 6px 0;
    box-shadow: var(--content-area-shadow) !important;
    outline: 0.5px solid var(--sidebar-border-color) !important;
  }

  #tabbrowser-tabpanels {
  margin-top: 0;
  transition: .25s !important;
  background-color: transparent !important;
  }

  .devtools-toolbox-side-iframe {
    border-radius: 8px;
    margin-bottom: 6px !important;
    box-shadow: var(--content-area-shadow) !important;
    -moz-window-dragging: no-drag;
    &:first-child { margin-left: 6px !important; }
    &:last-child { margin-right: 6px !important; }
    outline: 0.5px solid var(--sidebar-border-color) !important;
  }

  .devtools-toolbox-bottom-iframe {
    border-radius: 8px;
    margin: 0 6px 6px 0px !important;
    box-shadow: var(--content-area-shadow) !important;
    outline: 0.5px solid var(--sidebar-border-color) !important;
  }
}

/* floating statusbar */
#statuspanel {
margin: 10px !important;
}

#statuspanel-label {
border-radius: 6px !important;
padding: 2px 10px !important;
border: 1px solid var(--chrome-content-separator-color) !important;
background: var(--toolbar-bgcolor) !important;
}

/* floating find bar */
:root {
  --better-findbar-transform-translateY: 150px;
  --better-findbar-transform-translateX: -50%;
  --better-findbar-position-top: auto;
  --better-findbar-position-bottom: 15px;
  --better-findbar-position-left: 50%;
  --better-findbar-position-right: auto;
}

@-moz-document url-prefix("chrome:") {
  findbar {
    display: flex !important;

    border-radius: 6px !important;
    margin: 0px !important;

    width: 90% !important;
    max-width: calc(var(--theme-better_find_bar-textbox_width) * 1px);

    height: auto !important;

    position: absolute !important;
    top: var(--better-findbar-position-top);
    bottom: var(--better-findbar-position-bottom);
    left: var(--better-findbar-position-left);
    right: var(--better-findbar-position-right);
    transform: translateX(var(--better-findbar-transform-translateX)) translateY(0);

    overflow: unset !important;
    box-shadow: var(--box-shadow-10);

    background: var(--toolbar-bgcolor) !important;
    border: 1px solid var(--chrome-content-separator-color) !important;

    transition: transform 0.35s ease !important;

    visibility: visible !important;
    opacity: 1 !important;

    & .findbar-container {
      flex-wrap: wrap;
      overflow-x: auto !important;
      height: auto !important;

      row-gap: 10px;

      & > :first-child {
        width: 100% !important;
      }

      & .findbar-textbox {
        flex-grow: 1;
      }
    }

    &[hidden] {
      transform: translateX(var(--better-findbar-transform-translateX)) translateY(var(--better-findbar-transform-translateY));
    }

    @starting-style {
      transform: translateX(var(--better-findbar-transform-translateX)) translateY(var(--better-findbar-transform-translateY));
    }
  }

  /* Horizontal Position */
  body:has(
    #theme-Better-Find-Bar[theme-better_find_bar-horizontal_position="left"]
  ) {
    --better-findbar-transform-translateX: 0%;
    --better-findbar-position-left: 15px;
    --better-findbar-position-right: auto;
  }

  body:has(
    #theme-Better-Find-Bar[theme-better_find_bar-horizontal_position="right"]
  ) {
    --better-findbar-transform-translateX: 0%;
    --better-findbar-position-left: auto;
    --better-findbar-position-right: 15px;
  }

  /* Vertical Position */
  body:has(
    #theme-Better-Find-Bar[theme-better_find_bar-vertical_position="top"]
  ) {
    --better-findbar-transform-translateY: -150px;
    --better-findbar-position-bottom: auto;
    --better-findbar-position-top: 15px;
  }

  /* Hide highlight checkbox */
  body:has(
    #theme-Better-Find-Bar[theme-better_find_bar-hide_highlight="hide_immediately"]
  ) {
    findbar .findbar-highlight {
      display: none !important;
    }
  }

  body:has(
    #theme-Better-Find-Bar[theme-better_find_bar-hide_highlight="hide_on_disable"]
  ) {
    findbar checkbox.findbar-highlight:not([checked]) {
      display: none !important;
    }
  }

  /* Hide match case checkbox */
  body:has(
    #theme-Better-Find-Bar[theme-better_find_bar-hide_match_case="hide_immediately"]
  ) {
    findbar .findbar-case-sensitive {
      display: none !important;
    }
  }

  body:has(
    #theme-Better-Find-Bar[theme-better_find_bar-hide_match_case="hide_on_disable"]
  ) {
    findbar checkbox.findbar-case-sensitive:not([checked]) {
      display: none !important;
    }
  }

  /* Hide match diacritics checkbox */
  body:has(
    #theme-Better-Find-Bar[theme-better_find_bar-hide_match_diacritics="hide_immediately"]
  ) {
    findbar .findbar-match-diacritics {
      display: none !important;
    }
  }

  body:has(
    #theme-Better-Find-Bar[theme-better_find_bar-hide_match_diacritics="hide_on_disable"]
  ) {
    findbar checkbox.findbar-match-diacritics:not([checked]) {
      display: none !important;
    }
  }

  /* Hide whole words checkbox */
  body:has(
    #theme-Better-Find-Bar[theme-better_find_bar-hide_whole_words="hide_immediately"]
  ) {
    findbar .findbar-entire-word {
      display: none !important;
    }
  }

  body:has(
    #theme-Better-Find-Bar[theme-better_find_bar-hide_whole_words="hide_on_disable"]
  ) {
    findbar .findbar-entire-word:not([checked]) {
      display: none !important;
    }
  }

  /* Hide find status label */
  @media (-moz-bool-pref: "theme.better_find_bar.hide_find_status") {
    findbar .findbar-find-status {
      display: none !important;
    }
  }

  /* Hide found matches label */
  @media (-moz-bool-pref: "theme.better_find_bar.hide_found_matches") {
    findbar .findbar-label.found-matches {
      display: none !important;
    }
  }
}
